.forms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.search-form {
    display: flex;
    border-bottom: 2px solid var(--green-800);
    padding: 6px 10px;
    transition: transform 0.2s;
}

.search-form:hover {
    border-radius: 16px;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
    transform: translate(-3px, -3px);
    border: 1px solid var(--green-800);
}

.search-icon {
    font-size: 25px;
    color: var(--green-800);
    margin-top: 6px;
}

.search-form input {
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    max-width: 500%;
}

.search-form input:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
}

.forms-container h2 {
    margin-top: 4rem;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
}

.help-form {
    margin: 2rem 0 3rem;
    padding: 2rem 3rem;
    border-radius: 20px;
    background: var(--gradient-green);
}

.help-form label {
    display: block;
    margin-bottom: 8px;
    color: var(--custom-white);
}

.help-form input, .help-form textarea, .help-form select {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    background-color: var(--custom-white);
}

.help-form select {
    padding: 10px 50px 10px 20px;
}

.help-form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    color: var(--custom-white);
    text-align: center;
    background-color: var(--green-950);
    border: 1px solid var(--custom-white);
    border-radius: 20px;
}



/*========MOBILE==========*/
@media only screen and (min-width: 350px) and (max-width: 700px) {
    .forms-container h2 {
        margin-top: 3.2rem;
        font-size: x-large;
    }
    .help-form {
        margin: 2rem 0.5rem 3rem;
        padding: 1.5rem 2rem;
        border-radius: 20px;
    }
    .help-form input, .help-form textarea, .help-form select {
        font-size: 14px;
    }
}